body, p, ul {
    font-family: "Calibri", "TW Cen MT", "Gill Sans", Helvetica, sans-serif;
}

body {
    font-size: 12pt;
    background-color: white;
    color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
}

div.nav {
    margin: 1em;
    position: fixed;
    right: 10px;
    top: 20px;
    max-width: 30%;
    min-width: 15%;
    border: solid #aaa 1px;
    background-color: rgba(240, 240, 255, 0.8);
    padding: 2ex;
    box-shadow: 2px 2px 5px #888;
    font-size: 90%;
}
div.nav h2:first-child { padding-top: 0; margin-top: 0}
div.nav ul { padding-left: 2ex}
div.nav ul li { list-style-type: none;
		padding-left: 0ex;
		text-indent: -1em;
		margin-left: 1em }
p { font-size: 100%; max-width: 40em; }
p.credits {
    font-size: smaller;
    text-align: right;
    width: 100%;
    max-width: 100%;
    padding-right: 1em;
}
div.awards { margin-left: 5ex; }
p.paperlist { margin-left: 5ex; max-width: 120ex; }
p.textblock { margin-left: 4%; min-width: 25ex; max-width: 60ex; text-align: left}
ul { font-size: 95% }
ul.projects { max-width: 80ex; margin-top:0}
ul.projects li.offpage { list-style: none; margin-left: 0; padding-left: 0; padding-top: 0.5ex }
ul.pubs { font-size: 100% }
ul.pubs li { padding-bottom: 1em }
div#courses ul { margin-top: 0}
img#myphoto { border: solid 5px white; text-shadow: 5px black }

a {text-decoration: none; color: #349}
a.email {font-family: "Monaco CY", System, terminal, Courier, fixed, sans-serif}
a.topic {font-style: italic}
a:hover { color: #2070ef }
h2 a, h3 a, a.offpage, div.offpage, div.offpage a:link, div.offpage a:visited {color: #a62}
h2 a:hover, a.offpage:hover, div.offpage a:hover {color: #d08040}
div.offpage {
    text-align: left;
    padding-left: 2em;
    margin: 0 auto;
}
h1, h2, h3, h4, .name {
    font-family: "Calibri", "Gill Sans", "TW Cen MT", sans-serif;
    /*color: #803530; */
    /*color: #804113; font-weight: bold*/
    /* color: #604113; font-weight: bold */
    color: #411380; font-weight: 800;
    padding-bottom: 2pt; margin: 0;
}
h2 {padding-top: 1ex}
h1 { font-size: 200% }
h2, div.offpage { font-size: 120%}
h2 { margin-top: 1ex}
h3 { font-size: 100% }
th { font-size: 110% }
span.ampm {font-size: small; font-variant: small-caps}
span.name {font-size: 200%; font-weight: 600}
.conferencename {font-style: italic}
.journalname {font-style: italic}
td.bannernav {
    background-color: #f0f0f8;
    padding-top: 2ex;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
td.navigation {
    background-color: #f0f0f8;
    padding-left: 15px; padding-right: 15px;
    vertical-align: top; text-align: center;
    white-space: normal;
    max-width: 300px;
    min-width: 20ex;
    width: 25%;
}
td.contents {
    padding: 15px 0 0 15px;
    border-style: solid none none solid;
    border-width: 1;
    border-color: #aac;
    vertical-align: top
}
tr.banner {vertical-align: top}
div.leftcol, div.rightcol {display: inline-block; padding: 0.5ex 1ex}

cite a:link {font-style: normal; font-weight: bold;
	     text-decoration: none; color: #03208b}
cite a:visited {font-style: normal; font-weight: bold;
		text-decoration: none; color: #03208b}
cite {font-style: normal; font-weight: bold; text-decoration: none; color: #100099}
a.website, a:link i, a:visited i, i a:link, i a:visited {
    text-decoration: none;
    font-weight: normal;
    color: #347
}

div.narrow {max-width:100ex; margin: 0 auto; padding: 1ex}
div.paperlist {max-width:80ex; padding: 1ex}
div.fit {max-width: 100%}
div.photo {display: inline-block;
    margin: 6px 20px;
    background-color: white;
    padding: 6px}
#nameblock { display: inline-block;
             text-align: left;
             white-space: normal;
             vertical-align: top }

p.paperinfo {
    margin-left: 8%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 90%;
}
div.papertitle {
    margin-left: 4%;
    margin-bottom: 0px;
    margin-top: 0px;
}

a.disabled_email {font-style: italic; font-size: 80%}

div.software { text-align: center; max-width: 100ex }
