body, p, ul { font-family: sans-serif; }

ul.pubs li { padding-bottom: 1em }

h1, h2, h3, h4 {
    font-family: sans-serif;
    color: #008;
}
.conferencename, .journalname { font-style: italic }

div.paperlist { max-width:80ex; padding: 1ex }
